.usernameform{
    margin-top  :5%;
}



.btn btn-warning{
   align-items: center;
}

.jumbotron{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;

}

footer{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}